<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div style="text-align: center;">
  <h1>Edit user</h1>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

  <label for="firstName">First Name</label>
  <input type="text" th:field="*{firstName}" id="firstName">
  <br/>
  <label for="lastName">Last Name</label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <br/>
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age">
  <br/>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="Password">Password</label>
  <input type="text" th:field="*{password}" id="Password">
  <br/>
  <label for="Role">Choose User's role</label>

  <select class="form-control" multiple name="listRoles" id="role"
          size="2">
    <option selected name="ROLE_USER" value="ROLE_USER">USER</option>
    <option name="ROLE_ADMIN" value="ROLE_ADMIN">ADMIN</option>
  </select>

  <br/>

  <input type="submit" value="Update user"/>


</form>
  <br>
  <a th:href="@{/admin}">back</a>
  <br>
  <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>