<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
<div style="text-align: center;">
    <h1> User profile </h1>

    <table border="1" align="center">
        <tr>
            <th>Id</th>
<!--            <th>Name</th>-->
            <th>Surname</th>
            <th>Email</th>
            <th>Login</th>
            <th>Password</th>
            <th>Role</th>
        </tr>

        <td><p th:text="${user.getId()}">VALUE</p></td>
        <td><p th:text="${user.getFirstName()}">VALUE</p></td>
        <td><p th:text="${user.getLastName()}">VALUE</p></td>
        <td><p th:text="${user.getEmail()}">VALUE</p></td>
<!--        <td th:utext="${user.getName()}">VALUE</td>-->
        <td th:utext="${user.getPassword()}">VALUE</td>
        <td th:utext="${user.getRoles()}">VALUE</td>

    </table>

    <br>
    <a th:href="@{/logout}">Logout</a>

</div>
</body>
</html>