<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div style="text-align: center;">
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
    </div>
</div>
</body>
</html>


<tr th:each="user, state : ${listUsers}">
    <td th:text="${user.id}">ID</td>
    <td th:text="${user.firstName}">First Name</td>
    <td th:text="${user.lastName}">Last Name</td>
    <td th:text="${user.age}">Age</td>
    <td th:text="${user.email}">Email</td>
    <td> <span th:each="role, state : ${user.roles}"
               th:text="${role.role.split('_')[1] + ' '}"></span>
    </td>
    <td>
        <button type="button" class="btn btn-info" data-toggle="modal"
                th:attr="data-target=${'#editModal' + user.id}">
            Edit
        </button>
    </td>
    <td>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                th:attr="data-target=${'#deleteModal' + user.id}">
            Delete
        </button>
        <div class="modal fade" th:attr="id=${'deleteModal' + user.id}"
             tabindex="-1"
             aria-labelledby="ModalLabel"
             aria-hidden="true">
            <form th:action="@{/admin/delete}"
                  th:method="DELETE">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                user</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-6">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="idEdit"
                                               class="col-form-label">ID:</label>
                                        <input type="text" class="form-control"
                                               id="idDelete" name="id"
                                               th:value="${user.id}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstNameEdit"
                                               class="col-form-label">First
                                            Name:</label>
                                        <input type="text" class="form-control"
                                               id="firstNameDelete"
                                               name="firstName"
                                               th:value="${user.firstName}"
                                               readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameEdit"
                                               class="col-form-label">Last
                                            Name:</label>
                                        <input type="text" class="form-control"
                                               id="lastNameDelete"
                                               name="lastName"
                                               th:value="${user.lastName}"
                                               readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="ageEdit"
                                               class="col-form-label">Age:</label>
                                        <input type="text" class="form-control"
                                               id="ageDelete" name="age"
                                               th:value="${user.age}" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailEdit"
                                               class="col-form-label">Email:</label>
                                        <input type="text" class="form-control"
                                               id="emailDelete" name="email"
                                               th:value="${user.email}"
                                               readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="rolesEdit"
                                               class="col-form-label">Role:</label>
                                        <select class="form-control" multiple
                                                id="rolesDelete"
                                                name="listRoles"
                                                size="2" readonly>
                                            <option name="ROLE_USER"
                                                    value="ROLE_USER">USER
                                            </option>
                                            <option name="ROLE_ADMIN"
                                                    value="ROLE_ADMIN">ADMIN
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit"
                                    class="btn btn-danger">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </td>
</tr>